<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}URL Shortener{% endblock %}</title>
    <script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Open+Sans:400,300,300italic,400italic:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
<div id="shell">
<main id="content" class="content pure-u-1">
{% block content %}
{% endblock %}
</main>
</div>

<div id="footer" class="pure-g">
    <div class="pure-u-1">

    </div>
</div>
</body>
</html>